body {
    background-color: #f9f9f9;
    overflow-x: hidden;
    margin-left: 150px;
    margin-bottom: 100px;
}

h1 {
    white-space: nowrap;
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    margin-left: -110px;
    height: 80px;
}

img {
    display: block;
    margin-top: 50px;
}

a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 20px;
    margin-right: 10px;
}