body {
    background-color: #f9f9f9;
    overflow-x: hidden;
    margin-bottom: 100px;
}

h1 {
    white-space: nowrap;
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-left: 150px;
    margin-bottom: 20px;
}

a {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

div.navbar {
    margin-left: 150px;
    margin-bottom: 0px;
}

div.navbar a {
    display: inline-block;
    margin-right: 10px;
}

div.entry {
    display: flex;
}

div.margin {
    width: 150px;
    height: 100%;
}

div.margin a {
    display: block;
    text-align: right;
    margin-right: 30px;
}

div.content > img {
    display: block;
    margin-bottom: 50px;
}

div.about {
    margin-top: 30px;
    margin-left: 150px;
}