.start-hidden {
    opacity: 0;
}

body {
    margin-bottom: 100px;
    background-color: white;
    max-width: 1500px;
}

a {
    font-family: 'Work Sans', monospace;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

h1 {
    display: inline-block;
    border: 1px solid lightgrey;
    white-space: nowrap;
    font-family: 'Work Sans', monospace;
    font-weight: 500;
    letter-spacing: -3px;
    line-height: 0.8;
    margin: 0 10px 13px 0;
    padding-right: 5px;
    color: black;
    font-size: 80px;
}

p {
    display: inline-block;
    font-family: 'Lato', monospace;
    margin-right: 150px;
    color: black;
    font-size: 18px;
    min-width: 500px;
}

div.navbar {
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 70px;
}

div.navbar-back {
    display: flex;
    align-items: center;
    width: 150px;
}

div.navbar-back > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 100px;
    width: 30px;
    height: 30px;
}

div.navbar-back > a > div.arrow {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
}

div.navbar-links {
    display: flex;
    align-items: center;
    height: 20px;
    min-height: 20px;
}

div.navbar-links > a {
    margin-right: 20px;
}

div.content {
    margin-left: 150px;
    margin-bottom: 30px;
}

div.thumb {
    margin-left: 132px;
}

div.thumb > a.thumb-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 307px;
    height: 310px;
}

div.thumb > a.thumb-container > img {
    border: 8px solid white;
    border-image: url('../img/corners.png') 34% repeat;
}

div.thumb > a.thumb-container > img:hover {
    border: 16px solid white;
    border-image: url('../img/corners.png') 67% repeat;
}

div.preview {
    margin-left: 151px;
}

div.preview-container {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 47px;
}

div.preview-container > img {
    min-width: 500px;
    max-width: 100%;
}