html, body {
    display: inline-block;
    background-color: #fefefe;
    height: 100%;
}

h1 {
    display: inline-block;
    white-space: nowrap;
    font-family: 'Work Sans', monospace;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 0.8;
    margin-bottom: 50px;
    color: black;
    font-size: 40px;
}

p {
    display: inline-block;
    font-family: 'Lato', monospace;
    color: black;
    font-size: 18px;
    opacity: 0.3;
}

div.navbar {
    position: fixed;
    display: inline-block;
    float: left;
    border-radius: 0;
    padding: 50px;
    min-width: 185px;
    height: 100%;
    background-color: #f7f7f7;
}
div.navbar-links {
    margin-top: 100px;
}
div.navbar-links a { 
    display: block;
    text-decoration: none !important;
    text-align: center;
    font-family: 'Work Sans', monospace;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
    opacity: 0.3;
}
div.navbar-links a:hover {
    color: black;
    opacity: 0.6;
}

div.body {
    position: absolute;
    display: inline-block;
    margin-top: 50px;
    margin-left: 250px;
}
div.body p {
    display: block;
    margin-bottom: 40px;
}
div.body img {
    max-width: 100%;
    margin-right: 40px;
    margin-bottom: 40px;
}